<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h2><%= title %></h2>
  <p>New paste:</p>
  <form method="POST" action="/">
    <input type="text" name="addInput" placeholder="Add text..." id="addInput">
    <br>
    <br>
    <input type="submit" value="Paste">
  </form>
  <br>
  <br>
  <div class="table" id="table">
    <form action="/news" method="POST" class="card-body">
      <% if (contains.length > 0) {
        var i = 1;
        contains.forEach(function(data) {
      %>
       <p><%=data.id %>.<%=data.content %></p>
      <%  i++; }) %>
      <% } 
      else { %>
      <% } %>
    </form>
  </div>
</body>
</html>